@import url('reset.css');
@import url('fonts.css');


:root {
    --solid-grey: #DCE0EC; 
    --medium-grey: #A1ABC9;
    --light-grey: #E4EBFF;
    --almost-white: #F9FAFF;
    --red: #FF2567;
    --green: #34C197;
    --blue: #7297FF;
    --white: #FFF;
}

.editable {
    background: var(--solid-grey);
    border: 1px solid var(--medium-grey);
}
.doctor-page {
    background-color: var(--light-grey);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
	line-height: 1.6;
    font-size: 15px;
}

.header {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px; 

}
.avatar {
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.doctor {
    display: flex;
    gap: 16px;
}
.doctor__info {
    display: none;
}

.doctor__avatar-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
}
.doctor__avatar-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 11px;
border-radius: 50%;
background-color: var(--green);
border: 3px solid var(--light-grey)
}


.main {
    border-radius: 16px 16px 0px 0px;
    background-color: var(--almost-white);
    padding: 40px 24px 0;
    height: calc(100% - 72px);
}

.main__nav {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.button-display {
    padding: 12px 5px;
    border-radius: 8px;
    width: 120px;
    background-color: var(--almost-white);
    color: var(--blue);
}

.button-display_active {
    color: var(--white);
    background-color:var(--blue);

}

.my-patients {
    height: calc(100% - 84px);
}

.my-patients__header {
    display: flex;
    justify-content: space-between;

}

.my-patients__header-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;

}

.my-patients__navbar {
    display: flex;

}

.my-patient__searching {
    width: 24px;
}

.my-patients__list_empty {
    background: url(../img/svg/medical-history.svg) no-repeat center;
    min-height: 400px;
    padding-top: 37vh;
    color: var(--medium-grey);
    text-align: center;
}

.my-patients__list::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(	220, 224, 236, 0.32);
    border-radius: 6px;
}

.my-patients__list::-webkit-scrollbar-thumb {
    background-color: rgba(	161, 171, 201, 0.32);
    border-radius: 6px;
}

.my-patients__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    margin-top: 16px;
    height: calc(100% - 40px);
    overflow-y: auto;
    align-content: start;
    
}

.patient-card {
    position: relative;
    border-radius: 12px;
    background-color: var(--white);
    padding: 16px 40px 24px;
    min-width: 270px;
    justify-self: start;
    height: fit-content;
    justify-self: stretch;
}
.patient-card__header {
    display: flex;
    position: relative;
    padding-bottom: 16px;
    gap: 16px;
    align-items: center;    
}

.patient-card__header::after {
    position: absolute;
    bottom:0;
    left: -40px;
    content: '';
    width: calc(100% + 80px);
    height: 1px;
    background-color: var(--solid-grey);
}

.patient-card__headline {
    flex-grow: 1;
}
.patient-card__status {
    display: flex;
    gap: 8px;
    align-items: center;
}

.patient-card__status-text {
    color: var(--medium-grey);
    font-size: 13px;
}

.patient-card__status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.patient-card__status-indicator_confirmed {
    background-color: var(--green);
}

.patient-card__status-indicator_waiting {
    background-color: var(--blue);
}

.patient-card__status-indicator_cancelled {
    background-color: var(--red);
}

.patient-card__edit {
    background: transparent;
}

.icon {
    width: 24px;
    height: 24px;
}

.patient-card__info-item {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.patient-card__info {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.patient-card__time {
    font-weight: 600;
}

.patient-card__settings {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--white);
    height: 128px;
    width: 272px;
    top: 72px;
    right: 16px;
    filter: drop-shadow(0px 4px 40px rgba(118, 136, 187, 0.16));
    border-radius: 8px;
    padding: 4px;
}

.hidden {
    display: none
}

.patient-card__settings-button {
background: transparent;
border-radius: 8px;
padding: 0 20px;
font-size: 15px;
text-align: start;
}

.patient-card__settings-button.delete {
    color: var(--red);
}

.patient-card__settings-button:hover, .patient-card__settings-button:active, .patient-card__settings-button:focus {
    background: var(--almost-white);
}

/* media queries */

@media screen and (min-width: 600px) {
    

    .doctor-page {
        padding: 0 64px 48px;
    }

    .main {
    border-radius: 16px;
    padding: 40px 60px 0;

    }
    
    .doctor__info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        line-height: 1.3;
    }
    .doctor__name {
        font-weight: 600;
        }
    .doctor__prof {
        font-size: 13px;
        color: var(--medium-grey);
    }
    .main__nav {
        margin-bottom: 56px;
        gap: 12px
    }

    .my-patients {
        height: calc(100% - 116px);
    }
    .my-patients__list {
     
        margin-top: 32px;   
    }
}


@media screen and (min-width: 900px) {

    .my-patients__list {
        
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;     
        margin-top: 32px;   
    }
}

@media screen and (min-width: 1300px) {
    .my-patients__list {
        
        grid-template-columns: 1fr 1fr 1fr;       
    }
}

@media screen and (min-width: 1900px) {
    .my-patients__list {
        
        grid-template-columns: 1fr 1fr 1fr 1fr;       
    }
}