button:disabled {
 background-color: transparent;
}

abbr {
  text-decoration: none;
}
.react-calendar {
  width: 400px;
  height: 473px;
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
}

.blocked {
  pointer-events: none;
}

.react-calendar__navigation {
  height: 56px;
  display: flex;  
  justify-content: space-between;
  padding-bottom: 32px;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__label__labelText {
font-size: 17px;
font-weight: 600;
color: #000;
}

.react-calendar__navigation__arrow {
 background-color: transparent;
}

.react-calendar__tile.react-calendar__month-view__days__day {
  background-color: transparent;
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.react-calendar__month-view__days {
  background-color: transparent;
}

.react-calendar__month-view__weekdays__weekday abbr {
  padding: 0.5em;
  font-size: 13px;
  color: #A1ABC9;
  text-align: center;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  margin-bottom: 16px;
  
}

.react-calendar__month-view__days {
  row-gap: 8px;
}

.react-calendar__tile--now {
  color: #76baff;
  border: 1px solid #7297FF;
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
  color: #DCE0EC;
  }

.react-calendar__tile.react-calendar__month-view__days__day abbr {
  font-size: 17px;
  font-weight: 600;
}

.react-calendar__tile.react-calendar__month-view__days__day:disabled abbr {
  font-size: 17px;
  font-weight: 600;
  color: #202225;

}

.react-calendar__tile.react-calendar__tile--active.react-calendar__month-view__days__day {
  background: #7297FF;  
  color: #FFFFFF;
}
